include instruwav/audio_files/*.wav
include instruwav/keyboards/*.png
include instruwav/keyboards/*.txt
include instruwav/Core/*.py
include instruwav/Resources/*.json
include instruwav/Resources/*.kb
